#container {
  text-align: start;
  justify-content: center;
  margin: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#boton {
  display: flex;
  justify-content: center;
  margin: 10px;
}