.principal {
  margin: 0px 15px;
}

#logo {
  margin: 15px;
}

.mensaje {
  text-align: start;
  margin: 50px 20px 50px 20px;
  font-size: 18px;
}

#error {
  text-align: center;
  font-size: 18px;
  margin: 50px 20px 50px 20px;
  background-color: lightcoral;
}

#boton {
  display: flex;
  justify-content: center;
  margin: 10px;
}