#logo {
  padding: 10px;
}

.mensaje {
  text-align: center;
  margin: 50px 20px 50px 20px;
  font-size: 22px;
  font-weight: bold;
}

.principal {
  margin: 15px;
}

#contenedor {
  border: 1px solid black;
  margin: 20px;
  border-radius: 10px;
}

#boton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#error {
  text-align: center;
  font-size: 18px;
  margin: 50px 20px 50px 20px;
  background-color: lightcoral;
}

#registro {
  margin-top: 10px;
  text-align: center;
}