#contenedor {
  border: 1px solid var( --ion-color-light-contrast);
  margin: 50px 20px 0px 20px;
  border-radius: 10px;
  padding: 20px;
}

#noHay {
  text-align: center;
  margin-top: 50px;
}

hr {
  background-color: aliceblue;
}