<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Ver viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div id="noHay" *ngIf="listaDeViajes.length === 0; else siHayViajes">
      <h1>No hay viajes</h1>
    </div>
    <ng-template #siHayViajes>
      <div id="contenedor">
        <ion-list *ngFor="let viaje of listaDeViajes">
          <h2>{{ viaje.destino }}</h2>
          <p>Lugar de salida: {{ viaje.salida }}</p>
          <p>Pasajeros: {{ viaje.pasajeros }}</p>
          <p>Hora: {{ viaje.hora }}</p>
          <p>Precio: ${{ viaje.precio }}</p>
          <p>Conductor: {{ viaje.nombre }}</p>
          <ion-button (click)="alertaReserva()">Reservar lugar</ion-button>
        <hr/>
        </ion-list>
      </div>
    </ng-template>
  </div>
</ion-content>