<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" routerDirection="root"><ion-icon name="home"></ion-icon>Inicio</ion-item>
          <ion-item routerLink="/perfil"><ion-icon name="person"></ion-icon>Perfil</ion-item>
          <ion-item routerLink="/forma-pago"><ion-icon name="card"></ion-icon>Forma de pago</ion-item>
          <ion-item (click)="cerrarSesion()"><ion-icon name="log-out"></ion-icon>Cerrar sesión</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main">
  </ion-router-outlet>
</ion-app>
