<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" routerDirection="root">Inicio</ion-item>
          <ion-item>Perfil</ion-item>
          <ion-item>Forma de pago</ion-item>
          <ion-item (click)="loguot()">Cerrar sesión</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main">
  </ion-router-outlet>
</ion-app>
