<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forma de pago</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="Tarjeta">
    <h4 style="margin-left:20px; margin-top:20px; text-align: center;">Monto en la cuenta:</h4>
    <br>
    <h1 style="text-align: center;">$0</h1>
  </div>
  <div id="Design_Line">
  </div>
  <br>
  <div id="cont_efectivo">
    <div id="cont_1">
      <ion-img id="logo" #logo src="assets/efectivo1.jpg" alt="DuocUC"></ion-img>
    </div>
    <div id="cont_2">
      <h4 style=" margin-top:10px;">Efectivo</h4>
    </div>
  </div>
  <br>
  <div id="cont_visa">
    <div id="cont_3">
      <ion-img id="logo" #logo src="assets/visa.jpg" alt="DuocUC"></ion-img>
    </div>
    <div id="cont_4">
      <h4 style=" margin-top:10px;">Tarjeta de debito/Credito</h4>
    </div>
  </div>
</ion-content>