#contenedor {
  border: 1px solid var(--ion-color-light-contrast);
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  padding: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
}

#boton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

ion-select {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 50%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;

  &.show-map {
    opacity: 1;
  }
}

ion-input{
  margin-bottom: 10px;
}