<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <button slot="end" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <ion-title>TeLLevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="contenedor">
  <div class="mensaje">
    <ion-text>Bienvenido: {{usuario.user}}</ion-text>
  </div>
</div>

  <div class="principal">
    <div id="planificar" routerLink="/crear-viaje">
      <ion-icon name="car"></ion-icon>
      <ion-text>Planificar viaje</ion-text>
    </div>
    <div id="buscar">
      <ion-icon name="man"></ion-icon>
      <ion-text>Buscar viaje</ion-text>
    </div>
  </div>

  <div id="titulo-viajes">
    <ion-text>Viajes anteriores</ion-text>
  </div>
  
  <div id="viajes">
    <ion-list>
      <ion-item><ion-icon name="pin"></ion-icon>San francisco 1192, Santiago</ion-item>
      <ion-item><ion-icon name="pin"></ion-icon>Miraflores 945, Pudahuel</ion-item>
    </ion-list>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Desactivar notificaciones</span>
    </button>
    <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>
  </mat-menu>
  
</ion-content>
