<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <button slot="end" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <ion-title>TeLLevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="contenedor">
  <div id="mensaje">
    <ion-text>Bienvenido: {{nombreCompleto}}</ion-text>
  </div>
</div>

  <div class="principal">
    <div *ngIf="tipoUsuario === '01'; else pasajero" id="crear" routerLink="/crear-viaje">
      <ion-icon name="car"></ion-icon>
      <ion-text>Crear viaje</ion-text>
    </div>
    <ng-template #pasajero>
    <div id="ver" routerLink="/buscar-viaje">
      <ion-icon name="man"></ion-icon>
      <ion-text>Ver viajes disponibles</ion-text>
    </div>
    </ng-template>
  </div>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Desactivar notificaciones</span>
    </button>
    <button mat-menu-item (click)="alertaAyuda()">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>
  </mat-menu>
</ion-content>
<ion-footer>
  <ion-img id="logo" #logo src="assets/Logo_duoc.png" alt="DuocUC"></ion-img>
</ion-footer>