.principal {
  display: flex;
  justify-content: center;
}

#contenedor {
  border: 1px solid var( --ion-color-light-contrast);
  margin: 20px;
  border-radius: 10px;
  padding: 25px;
}

#mensaje {
  font-size: 18px;
}

#crear {
  display: flex;
  background-color: var(--ion-color-medium);
  width: 90%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  text-align: center;
}

#ver {
  display: flex;
  background-color: var(--ion-color-medium);
  width: 90%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  text-align: center;
}

ion-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

#titulo-viajes {
  text-align: center;
  font-size: 18px;
  background-color: var(--ion-color-medium);;
  margin: 50px 20px 20px 20px;
  padding: 5px;
  border: 1px solid var( --ion-color-light-contrast);
}

#viajes {
  margin: 0px 20px;
}

ion-item {
  font-size: 18px;
}

#boton {
  display: flex;
  justify-content: center;
  margin: 10px;
}