.principal {
  margin: 0px 15px;
  display: flex;
  justify-content: center;
}

#planificar {
  display: flex;
  background-color:lightgray;
  width: 140px;
  padding: 20px;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;

}

#buscar {
  display: flex;
  background-color: lightgray;
  width: 140px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;

}

.mensaje {
  text-align: start;
  margin: 50px 20px 50px 20px;
  font-size: 18px;
}

ion-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

#titulo-viajes {
  text-align: center;
  font-size: 18px;
  background-color: lightgrey;
  margin: 50px 20px 20px 20px;
  padding: 5px;
  border: 1px solid black;
}

#viajes {
  background-color: lightcyan;
  margin: 0px 20px;
}

#boton {
  display: flex;
  justify-content: center;
  margin: 10px;
}